body {
  margin: 1rem;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color: #cccccc;
  --green: #00cc00;

  --bg: #0F0F23;

  background-color: var(--bg);
  color: var(--color);
}

h1 {
  color: var(--green);
  text-shadow: 0 0 2px var(--green), 0 0 5px var(--green);
}

a, a:visited {
  color: var(--color);
}

select option {
  background-color: var(--bg);
  color: var(--color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
